{% extends "blog/base.html" %}
{% block content %}
{%load static %}
<main class="page" style="padding-top: 20px;">

  <section class="about-us py-5">
        <div class="container mt-5">
          <div class="block-heading">
              <h2 class="text-info">Welcome</h2>
              <h4>Know Us More</h4>
              <hr>
              <div class="flex-container" style ="width: 90% ;min-height: 300px; margin: 0 auto; display: -webkit-flex; /* Safari */ display: flex; /* Standard syntax */">
                <div class="column" style="-webkit-flex: 1; -ms-flex: 1; flex: 1;min-width: 50%;max-width: 55%;">
                    <p>We at <strong>wrITe</strong> provide you the platform to write it down.<br>
                      Write to express your thoughts, your exeriences and your opinions.<br>
                      Share it and influence others too.</p>
                </div>
                <div class="column bg-alt" style="padding-top:20px; text-align: left;">
                          <img  class="rounded float-right" style="min-height: 40%;max-height: 55%;max-width:55%;min-width: 45%;" src={% static "blog/assets/img/scenery/image400.jpg" %}>
                </div>
                

              </div>
          </div>
  </section>
</main>
{% endblock content %}