{% extends "blog/base.html" %}
{% block content %}
{%load static %}
<main class="page" style="padding-top: 20px;">
	<section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading" style="padding-top: 5%;padding-bottom: 5%;">
                <div class="post-body" style="padding-right: 16%;padding-left: 16%; padding-top: 6%;">
                <h1 style="text-align: center;padding-top: 15px;font-weight: 600;font-size: 45px;margin-bottom: 0px;">About-Us</h1>
                <a><h4 style="text-align: center;padding-top: 0px;font-weight: 100;font-size: 15px;">In teaching others we teach ourselves</h4></a>
				<hr>
			</div>
    
<style>
	
		body{
			background: #ffffff;
			font-family: tahoma;
			text-align: justify;
			
			
		}
	
		#about{
			padding-top: 98px;
			padding-bottom: 101px;
		}
	
		#about .triangle-right{
			margin-top: 95px;
			width: 0;
			height: 0;
			border-top: 259px solid transparent;
			border-left: 470px solid #d6c6b2;
			border-bottom: 259px solid transparent;
			
			
		}
	
		#about .triangle-right img{
			left: -1px;
			top: 81px;
			width: 74%;
	
		}
	
		.fa-play{
			font-size: 100px;
			
		}
		
		
		#about .p-first{
			margin-bottom: 30px;
		}
		
		
		#about h2{
			margin-bottom: 47px;
			margin-top: 12px;
			
		}
		
		
		#about .social-link-text{
			margin-top: 50px;
			margin-bottom: 25px;			
			
		}
		
		#about .about-link{
			padding-left: 0px;
		}
		
		#about .about-link li{
			display: inline-block;
		}
		
		#about .about-link li a i{
			width: 50px;
			height: 50px;
			border-radius: 50%;
			line-height: 50px;
			text-align: center;
			border: 1px solid;
			margin-right: 10px;
			font-size: 22px;
			
			transition: all .3s;
			
		}
		
		
		#about .about-link li a i:hover{
			color: #222222;
			
			
		}
	
		
		#about .about-img{
			position: relative;
			
		}
		
		#about .about-img{
			position: relative;
			
		}
		
		#about .about-img .man{
			position: absolute;
			bottom: 161px;
			top: 12px;
			left: -2px;
			
		}
		
		
		
				
		p{
			margin-bottom: 0;
			font-size: 16px;
			line-height: 24px;
			color: #000000;
		}
		
		
		
		
	</style>

	<section id="about" style="padding-top: 10px;">
    
	<div class="container">
		<div class="row">
		<div class="col-md-5">
            <img class="img-fluid" src={% static "blog\assets\img\me.png" %} style="width: 450px;" alt="">
		</div>
		<br>
		<div class="col-md-7" style="padding-top: 30px;margin-top: 20px; ">
			
			<h2 class="color-3"><b>Nishant Kumar</b>
			</h2>
			
			<p class="p-first">
				A <em><b>Full stack developer</b></em> .Solution-driven professional excelling in highly collaborative work environment, finding solutions to challenges and focused
				on customer satisfaction. Proven experience developing consumer-focused web sites using
				<strong>HTML, CSS, BootStrap, NodeJS, JQuery, Django , Flask </strong>and MVC framework.And trying my hands on react. Also having hand full of experience in
				<strong>Graphics Design</strong>. Responding to challenges by designing and developing solutions and building web applications aligned to customer service.
				Translating solutions into code and working across many different APIs, third-party integrations and databases.
			</p>
			<p>
			</p>
			
			
			<ul class="about-link">
				<li><a href="https://github.com/Nishantkumarr"><i class="fa fa-github"></i></a></li>
				<li><a href="https://www.linkedin.com/in/nishant-kumar-2b0935136/"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="https://www.instagram.com/not.so.cool.banda"><i class="fa fa-instagram"></i></a></li>
			    <li><a href="https://twitter.com/kumarrspeaks"><i class="fa fa-twitter"></i></a></li>
				

			</ul>
		
			
		</div>
	
		</div>
	</div>
</section>
</main>
{% endblock content %}