{% extends "blog/base.html" %}
{% block content %}
{% load static %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="clearfix">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-6 intro-info order-md-first order-last">
            <h2 style="font-size: 100px;margin-bottom: 10px;">wrITe</h2><br>
            <h4>It's the possibility of having a dream come true that makes life interesting </h4>

            <div>
                {% if user.is_authenticated %}
                <a href={% url 'blog-name' %} class="btn-get-started scrollto">Blog</a>
                {% else %}
                <a href={% url 'register' %} class="btn-get-started scrollto">Get Started</a>
                {% endif %}


            </div>
            </div>
        <div class="col-md-6 intro-img order-md-last order-first">
            <img src={% static "assets/img/intro-img.svg" %} alt="" class="img-fluid">
        </div>
    </div>
    </div>
</section><!-- End Hero -->

<main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">

        <div class="container">
            <div class="row">

            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                <img src={% static "blog\assets\img\writeitttttabout.png" %} alt="">
                </div>
            </div>

            <div class="col-lg-7 col-md-6">
                <div class="about-content">
                <h2>About Us</h2>
                <h3>Coming together, sharing together, working together, succeeding together</h3>
                <p>Write-It is a Python-Django based blogging site. We offer you an opportunity to share what you know with a community of learners. </p>
                <p>Wise men said "Going together is a wise option". And that's our main focus at Write-It, to create a community of developers helping each others . Working together to make world a btter place to live  </p>
                <ul>
                    <li><i class="ion-android-checkmark-circle"></i> Register</li>
                    <li><i class="ion-android-checkmark-circle"></i> Go through the blog post of others users and get answers to your queries </li>
                    <li><i class="ion-android-checkmark-circle"></i>Write about something new and exciting to share it with others and educate them</li>
                </ul>
                </div>
            </div>
            </div>
        </div>

        </section><!-- End About Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
        <div class="container">

            <header class="section-header">
            <h3>What we Offer ?</h3>
            <p>One stop sollution to all your queries</p>
            </header>

            <div class="row">

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                <h4 class="title"><a href="">Python</a></h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
                <h4 class="title"><a href="">NodeJs</a></h4>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                <h4 class="title"><a href="">Javascript</a></h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="box">
                <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
                <h4 class="title"><a href="">Java</a></h4>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                <div class="box">
                <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i></div>
                <h4 class="title"><a href="">HTML</a></h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                <div class="box">
                <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i></div>
                <h4 class="title"><a href="">CSS</a></h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Bootstrap</a></h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
                    <h4 class="title"><a href="">Angular</a></h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">React</a></h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                <div class="box">
                    <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
                    <h4 class="title"><a href="">Flutter</a></h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                <div class="box">
                <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i></div>
                <h4 class="title"><a href="">PHP</a></h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                <div class="box">
                <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i></div>
                <h4 class="title"><a href="">Data Structure - Algorithms</a></h4>
                </div>
            </div>

            </div>

        </div>
        </section><!-- End Services Section -->

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
        <div class="container-fluid">

            <header class="section-header">
            <h3>How we made it ?</h3>
            <p>Learn It - Code It - Share It </p>
            </header>

            <div class="row">

            <div class="col-lg-6">
                <div class="why-us-img">
                <img src={% static "blog\assets\img\example-9.svg" %} alt="" class="img-fluid" style="width: 700px;height:350px;">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="why-us-content">
                <div class="features wow bounceInUp clearfix">
                    <i class="fa fa-code" style="color: #f058dc;"></i>
                    <h4>Python-Django</h4>
                    <p>We have used Django for the backend of this site as they say its the web framework for perfectionists with deadlines.It provide out of the box admin panel and an authentication system.
                    </p>
                </div>

                <div class="features wow bounceInUp clearfix">
                    <i class="fa fa-laptop " style="color: #ffb774;"></i>
                    <h4>Bootstrap</h4>
                    <p>It makes it a full responsive layout while keeping in mind the ease of usage for our users. We are avilable on all platforms for seemless usage.</p>
                </div>

                <div class="features wow bounceInUp clearfix">
                    <i class="fa fa-file-code-o" style="color: #589af1;"></i>
                    <h4>PostgreSql</h4>
                    <p>For the databse we have decided to use Postgre Sql</p>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section><!-- End Why Us Section -->
</main><!-- End #main -->
{% endblock content%}