{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{%load static %}
<!-- Main Content -->
<main class="page login-page" style="padding-top: 20px;">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">New Post</h2>
                <p>Write It to Influence Others</p>
            </div>
            <form method="POST" >
                {% csrf_token %}
                <fieldset>
                    <legend>New Post</legend>
                    {{ form |crispy }}
                </fieldset>
                 <div>
                   <button type="submit" class="btn btn-outline-secondary"> Post </button>
                  </div>
            </form>
        </div>
    </section>
</main>

{% endblock content %}