{% extends "blog/base.html" %}
{% load static %}
{% block content %}


<main class="page blog-post-list" style="padding-top: 20px;">
    <section class="clean-block clean-blog-list dark">
        <div class="container">
            <div class="block-heading">
                <h1 class="text-info" style="font-weight: 600;">{{view.kwargs.tech}}</h1>
                <hr>
            </div>
            <div class="block-content" style="padding: 50px;">
                <div class="clean-blog-post" style="padding-bottom: 30px;">
                    {% for post in posts %}
                    <div class="row">
                        <div class="col-lg-5" style="text-align: right; padding-right: 30px;"><img style="padding-bottom: 20px; width: 200px; height: 150px;"   class="rounded img-fluid" src={% static "blog/assets/img/tech/header.jpg" %}></div>
                        <div class="col-lg-7">
                            <h3 style="padding-top:4px;">{{ post.title}}</h3>
                            <div class="info" style="padding-top:0px;"><span class="text-muted"> by<a href={% url 'user-post' post.author.username %}>  {{post.author}}</a> <br> {{post.date_posted}}</span></div>
                            <p>{{post.tech}}</p><a href= {% url 'blog-detail'  post.id %}  class="btn btn-outline-primary btn-sm" type="button"> Learn More</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </section>
</main>
<div  style="text-align: center;padding-top: 20px;">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
                <a href ="?page=1" class=btn btn-outline > << </a>
                <a href ="?page={{page_obj.previous}}" class=btn btn-outline > <</a>
        {% endif %}
       
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" style="border-radius: 20px;" href ="?page={{num}}">{{num}}</a>
            {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'3' %} 
                <a class="btn btn-outline-info mb=4" href = "?page={{num}}"> {{num}}</a>
            {% endif %}
        {%endfor%}

        {% if page_obj.has_next %}
                <a href ="?page={{page_obj.next_page.number}}" class=btn btn-outline >></a>
                <a href ="?page={{page_obj.paginator.num_pages}}" class=btn btn-outline > >></a>
       {% endif %}
      

    {% endif %}

  </div>
{% endblock content %}