{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{%load static %}
<!-- Main Content -->
<main class="page login-page" style="padding-top: 20px;">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <div class="flex-container" style ="width: 40% ;min-height: 300px; margin: 0 auto; display: -webkit-flex; /* Safari */ display: flex; /* Standard syntax */">
                    <div class="column" style="padding-left: 10px;-webkit-flex: 1; -ms-flex: 1; flex: 1;"> <img class= "rounded mx-auto d-block" style="width:90%;max-width:200px" src={% static "blog/assets/img/scenery/logout.jpg" %}>
                    </div>
                    <div class="column bg-alt" style="padding-top:70px; text-align: left;"><h2 class="text-info">Logout Successful</h2>
                        <h6>Login again !!!<a class="ml-2" href={% url 'login' %}>Login</a> </h6>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</main>
{% endblock content %}