{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{%load static %}
<!-- Main Content -->
<main class="page login-page" style="padding-top: 20px;">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Enter The Password</h2>
                <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 10px; font-style: italic;">Get busy living or get busy dying.</h5>
                <hr>
                <div class="flex-container" style ="width: 40% ;min-height: 300px; margin: 0 auto; display: -webkit-flex; /* Safari */ display: flex; /* Standard syntax */">
                    <div class="column" style="padding-left: 10px; -ms-flex: 1; flex: 1;"></div>
                       <div class="column bg-alt" style="text-align: left;" >
                        <form method="POST" style="padding: 35px;background-color:transparent">
                            {% csrf_token %}
                              <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Reset Password</legend>
                                    {{ form|crispy }}
                              </fieldset>
                              
                              <div class="form-group">
                                    <button class="btn btn-outline-info" type="submit">Reset Password</button>
                              </div>
                        </form>
                    </div> 
                </div>  
                <hr>
            </div>
        </div>
    </section>
</main>
{% endblock content %}