{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{%load static %}
<!-- Main Content -->
<main class="page login-page" style="padding-top: 20px;">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading" style="padding-top: 10%;padding-bottom: 5%;">
                <div class="post-image"style="background-image:url({% static "blog/assets/img/scenery/image3.jpg" %})"></div>
                <div class="post-body" style="padding-right: 16%;padding-left: 16%; padding-bottom: 12%; padding-top: 6%;">
                    <h1 style="text-align: center;padding-top: 0px;font-weight: 600;">wrITe</h1>
                    <a><h4 style="text-align: center;padding-top: 0px;font-weight: 100;font-size: 15px;">In teaching others we teach ourselves</h4></a>
                    <hr>
                    <p>
            <form method="POST" style="background-color:transparent; text-align: left;">
                {% csrf_token %}
                <fieldset>
                    <legend>JOIN TODAY</legend>
                    {{ form |crispy }}
                </fieldset>
                    <div style="text-align: center;">
                    <button type="submit" class="btn btn-outline-secondary" style="align-items: center;"> SignUp </button>
                    </div>
            </form>
            <hr>
                <h6>Already have an account? <a class class="btn btn-outline-secondary" href ={% url 'login' %}>Sign IN</a> </h6>
        
            </div>
        </div>
    </section>
</main>

{% endblock content %}










