{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{%load static %}
{% block content %}
<!-- Main Content -->
    <main class="page blog-post" style="padding-top: 20px;">
    <section class="clean-block clean-post dark">
        <div class="container">
            <div class="block-content">
                <div class="block-heading">
                    <img src={{user.profile.image.url}} style="width: auto; height: auto; " alt=""/>
                    <h2 class="text-info">{{user.profile.name}}</h2>
                    <p>{{user.profile.bio}}</p>
                </div>
                <hr>
                <div class="container emp-profile" style=" padding:5%;text-align: center;">
                    <div class="row" style="padding-left: 200px ;text-align: center;">
                        <div class=  "col-md-6">    
                            <form method="POST" enctype="multipart/form-data" style="width: 640px; height: auto;text-align:left;">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Profile Info</legend>
                                    {{ u_form|crispy }}
                                    {{ p_form|crispy }}
                                </fieldset>
                                <div class="form-group" style="text-align: center;">
                                    <button class="btn btn-primary" type="submit"  >Update</button>
                                    <a href={% url 'profile' user.username %} class="btn btn-primary">Profile</a>
                                </div>
                            </form>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</main>
{% endblock content %}












